{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "./client/config/webpack.config.js" 
        }
      }
    },
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true,
      "amd": true
    },
    "rules": {
      "react/forbid-prop-types": "off",
      "camelcase":"off",
      "space-before-function-paren": "off",
      "import/prefer-default-export": "off",
      "func-names": "off",
      "arrow-body-style": "off",
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "no-console": "warn",
      "react/jsx-filename-extension": "off",
      "no-unused-vars": "warn",
      "react/no-array-index-key": "warn",
      "react/no-unused-state": "warn",
    }
  }
  